@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700')

body,
html {
	margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.titles {
  font-weight: 300;
  font-style: light;
}

.navbar-custom {
  border-bottom: solid 1px rgb(228, 228, 228);
}

#canvas {
  margin-top: 10px;
	z-index: 2;
	align-items: center;
	width: 100%;
}

#container {
  margin-top: 10px;
	top: 0px;
	width: 95%;
	position: absolute;
	z-index: 1;
}

.shirt-colour {
	fill: #ffffff;
}

.shirt-outlines {
	fill: #c7c6c6;
}
.shirt-shadow {
	fill: #c7c6c6;
	fill-opacity: 0.502;
}
