body,
html {
	margin: 0;
	padding: 0;
	background-color: #232323;
}

.main {
	background-color: aqua;
	height: 100vh;
}

.rowstyle {
	background-color: blue;
}

.colstyle {
	background-color: brown;
}

#canvas {
	border: 1px solid red;
	z-index: 2;
	align-items: center;
	width: 100%;
}

#container {
	top: 40px;
	left: 25px;
	width: 400px;
	height: 400px;
	position: absolute;
	z-index: 1;
}

.shirt-colour {
	fill: #ffffff;
}

.shirt-outlines {
	fill: #c7c6c6;
}
.shirt-shadow {
	fill: #c7c6c6;
	fill-opacity: 0.502;
}
