  
@import url("https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700");

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.015em;
  color: #232323;
  background-color: #232323;
  scroll-behavior: smooth;
}

.white-bg {
  background-color: #fff;
}



	.st0{fill-rule:evenodd;clip-rule:evenodd;fill:#7FFFD4;}
	.st5{fill:#C7C6C6;}
  .st1{fill:#C7C6C6;fill-opacity:0.502;}